resources/menubar.dtd

<?xml version = "1.0" encoding = "UTF-8"?>
<!ELEMENT menubar (popup*)>
<!ELEMENT popup ((popup | item | separator)*)>
<!ATTLIST popup
    text CDATA #REQUIRED
    statusTip CDATA #IMPLIED>
<!ELEMENT item (EMPTY)>
<!ATTLIST item
    text CDATA #REQUIRED
    statusTip CDATA #IMPLIED
    modules (yes|no) "no"
    eventHandler CDATA #REQUIRED>
<!ELEMENT separator (EMPTY)>
