resources/modules.dtd

<?xml version = "1.0" encoding = "UTF-8"?>
<!ELEMENT modules (module*)>
<!ELEMENT module (plugin*)>
<!ATTLIST module
    name CDATA #REQUIRED
    path CDATA #REQUIRED
    menuBarPath CDATA #REQUIRED
    toolBarPath CDATA #REQUIRED
    speedBarPath CDATA #REQUIRED
    statusBarPath CDATA #REQUIRED
    acceleratorsPath CDATA #IMPLIED
    filtersPath CDATA #IMPLIED
    default CDATA #IMPLIED>
<!ELEMENT plugin (EMPTY)>
<!ATTLIST plugin
    path CDATA #REQUIRED>
